@import "tailwindcss";

@theme inline {
  /* FONTS */
  --font-libre: var(--font-libre-Bodoni);
  --font-inter: var(--font-inter);

  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

:root {
  /* COLORS */
  --background: white;
  --foreground: black;

  --primary: #8f9cd3;
  --secondary: #ffcaa4;
  --accent: #654672;
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  body {
    @apply bg-background text-foreground mx-auto max-w-[1440px];
    overflow-x: hidden !important;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 100%;
    letter-spacing: 0%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  p,
  span {
    line-height: 100%;
    letter-spacing: 0%;
  }
  h1 {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: clamp(40px, 5vw, 70px);
  }

  h2 {
    font-family: var(--font-libre);
    font-weight: 500;
    font-size: clamp(30px, 4vw, 50px);
  }

  h3 {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: clamp(30px, 3.5vw, 45px);
  }

  h4 {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: clamp(25px, 2.5vw, 30px);
  }

  h5 {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: clamp(16px, 1.8vw, 22px);
  }

  p {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: clamp(14px, 2vw, 18px);
  }

  span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }
}

.highlight-text {
  background: linear-gradient(90.27deg, #ad54f0 0.24%, #d24dbc 89.26%);
}

.image-shadow {
  box-shadow:
    0px 7.37px 14.74px 0px #0000001a,
    0px 25.79px 25.79px 0px #00000017,
    0px 58.95px 35px 0px #0000000d,
    0px 105px 42.37px 0px #00000003,
    0px 163.95px 46.05px 0px #00000000 !important;
}

.social-media-card {
  box-shadow:
    0px 9px 20px 0px #e0e0e01a,
    0px 37px 37px 0px #e0e0e017,
    0px 82px 49px 0px #e0e0e00d,
    0px 146px 59px 0px #e0e0e003,
    0px 229px 64px 0px #e0e0e000;
}

.mindset-shadow {
  box-shadow:
    0px 9px 20px 0px #e0e0e01a,
    0px 37px 37px 0px #e0e0e017,
    0px 82px 49px 0px #e0e0e00d,
    0px 146px 59px 0px #e0e0e003,
    0px 229px 64px 0px #e0e0e000;
}
